body {
  background-color: rgba(112, 105, 93, 0.301);
  color: rgb(207, 207, 207);
  font-size: 20px;
}
.main {
  background-color: rgb(19, 19, 18);
}
h1 {
  color: rgb(248, 152, 96);
  font-size: 180%;
  border-bottom: 1px solid rgb(99, 240, 245);
}
h2 {
  font-size: 140%;
}
p {
  font-size: 120%;
}
span {
  display: flex;
}
button {
  color: rgb(207, 207, 207);
  border: 0;
}
.start {
  background-color: rgb(9, 25, 175);
}
.pause {
  background-color: rgb(221, 9, 9);

}
.reset {
  background-color: rgb(0, 184, 46);

}
